@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
* {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#cursor,
.ripple {
  z-index: 1;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #f6ad4d;
  box-sizing: border-box;
  transition: 0.1s;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  background-color: transparent;
}

#cursor{
  border: 2px solid transparent;
}


h2:hover ~ #cursor,
a:hover ~ #cursor {
  width: 63px;
  height: 63px;
  border: 2px solid #f6ad4d;
  background-color: #f6ad4d;
  z-index: -1;
}

h2 {
  text-align: center;
  border: 2px solid transparent;
  border-radius: 20px;
  outline: none;
}

h2:hover {
  border: 2px solid #f6ad4d;
  border-radius: 20px;
  background-color: transparent;
  transition-property: border;
  transition: 0.2s;
}

.chunky {
  padding: 10px;
}

a {
  border: 2px solid transparent;
  border-radius: 20px;
  color: #000;
  text-decoration: none;
}

a:hover {
  border: 2px solid #f6ad4d;
  border-radius: 20px;
  background-color: #f6ad4d;
  transition-property: border;
  transition: 0.2s;
}

a:hover ~ #cursor {
  width: 35px;
  height: 35px;
}

@keyframes ripple-effect {
  to {
    transform: scale(5);
    opacity: 0.01;
  }
}
