@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

:root {
  --black: #141414;
  --gray: #f3f3f3;
  --gray-tr: rgb(237, 237, 237, 0.75);
  --orange: #da9130;
  --orange-hv: #cb7b13;
}

body {
  overflow-x: hidden;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
}

/* HEADER */

.header__inner ul,
.header__inner ul li {
  list-style: none;
}

.header__inner .header__logo img {
  max-height: 44px;
}

.header {
  width: 100%;
  position: sticky;
  top: 0px;
  margin-bottom: 53px;
}

.header .header__inner .header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0 14px 0;
}

.header .header__inner {
  background: #fff;
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.25);
}

.link {
  text-decoration: none;
}

.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.header__nav .nav__list-link {
  color: var(--black);
  font-size: 1rem;
  font-weight: 400;
}

.header__nav .nav__list-link:hover {
  color: var(--orange);
}

/* <--------------------> */

/* JUMBOTRON */

.inner {
  margin-bottom: 15rem;
}

.main__section_jumbotron {
  display: flex;
  justify-content: space-between;
}

.section_jumbotron__article {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.main__section_jumbotron .main__section_jumbotron__img {
  max-width: 11rem;
  max-height: 12.625rem;
  margin-bottom: 2.813rem;
}

.main__section_jumbotron .section_jumbotron__article .jumbotron__article_main {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

.main__section_jumbotron
  .section_jumbotron__article
  .jumbotron__article_following {
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2rem;
}

.main__section_jumbotron
  .section_jumbotron__article
  .jumbotron__article_main_s {
  max-width: 65%;
  font-weight: 400;
  font-size: 1.125rem;
}

.main__section_jumbotron .section_jumbotron__form {
  background: rgba(237, 237, 237, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

/* <--------------------> */

/* FORM */

.main__section_jumbotron .section_jumbotron__form {
  padding: 25px 35px 25px 35px;
}

.main__section_jumbotron .section_jumbotron__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.section_jumbotron__form .form__article {
  font-size: 2rem;
  text-align: center;
}

.section_jumbotron__form .form__article_following {
  font-size: 1rem;
  font-weight: 400;
}

.section_jumbotron__form .form__button {
  padding: 15px 35px 15px 35px;
  font-size: 1.25rem;
  font-weight: 700;
  background: #f6ad4d;
  border: #f6ad4d 2px solid;
  border-radius: 20px;
}

.section_jumbotron__form > button:hover {
  transition: 0.3s;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.input {
  outline: none !important;
}

.input::placeholder {
  color: #b7b7b7;
}

.section_jumbotron__form .form__input {
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  font-size: 0.875rem;
  border: rgba(255, 255, 255, 0) 1px solid;
}

.input:focus {
  transition: 0.3s;
  border: #f6ad4d 1px solid;
}

.section_jumbotron__form .form__textarea {
  resize: vertical;
}

/* <--------------------> */

/* SECTIONS */

.main__inner_gray {
  background-color: #f3f3f3;
  box-shadow: 0px -6px 10px rgba(0, 0, 0, 0.25);
}

.main__inner_jumbotron {
  margin-bottom: 14.9rem;
}

.main__inner_gray .main__container .main__section_qualities {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
  padding: 60px 0 60px 0;
}

.main__section_qualities .section_qualities__item_2, .main__section_qualities .section_qualities__item_1{
  display: flex;
}

.main__section_qualities .section_qualities__item_2{
  text-align: right;
}

.main__section_qualities .section_qualities__item_1, .main__section_qualities .section_qualities__item_2{
  align-items: center;
  gap: 30%;
}

.section_qualities__subitem_1 .section_qualities__article{
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1.25rem;
}

.main__section_qualities .section_qualities__article>p{
  font-weight: 400;
}

.main__section_qualities .section_qualities__following{
  font-size: 1.25rem;
}
